<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="@root/css/bootstrap.nico.min.css">
  <link rel="stylesheet" href="@root/css/theme.css">
  <link rel="stylesheet" href="@root/css/pygments.css">

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
</head>

<body class="{{ classes }}">
  <header id="site-header" class="site-header">
    <div id="masthead" class="masthead">
      <h1 class="site-title">
        <a href="@root/">
          {{ site.title }}
        </a>
      </h1>
      <p class="site-description">{{ site.description }}</p>
      <button class="toggle-button">Menu</button>
    </div>

    <div id="includes" class="includes">
      {% if inc.menu %}
        <nav id="menu" class="menu">
          {{ inc.menu }}
        </nav>
      {% endif %}

      {% if inc.sidebar %}
        <div id="sidebar" class="sidebar">
          {{ inc.sidebar }}
        </div>
      {% endif %}
    </div>
  </header>

  <div class="wrapper">
    <main id="main" class="main">
      {% block content %}{% endblock %}
    </main>

    <footer id="site-footer" class="site-footer">
      <div class="footer-wrapper">
        {% if inc.footer %}
          {{ inc.footer }}
        {% else %}
          <a href="http://mulholland.xyz/docs/ark/">Powered by Ark</a>
        {% endif %}
      </div>
    </footer>
  </div>
</body>
</html>
