{% extends "base.jinja" %}

{% block title %}
  {% if record.meta_title %}
    {{ record.meta_title }}
  {% else %}
    {{ record.title }}
  {% endif %}
{% endblock %}

{% block content %}
  <article class="record record-{{ record.type }}">
    <header class="record-header">
      <h1 class="record-title">{{ record.title }}</h1>
    </header>

    <div class="record-content">
      {{ record.html }}
    </div>

    <footer class="record-footer">
      <time class="record-date" datetime="{{record.date.strftime('%Y-%m-%d')}}">
        {{ record.date.strftime("%B %d, %Y")}}
      </time>
      {% if record.tags %}
        {% for tag in record.tags %}
          <span class="record-tags">{{ tag.__str__() }}</span>
        {% endfor %}
      {% endif %}
    </footer>
  </article>
{% endblock %}
